<%- include ('partials/header') -%>
<div class="container">
    <div class="jumbotron">
      <h1>Playlist App</h1>    
      
      <a href="/playlist" class="btn btn-slate">
          Get started
      </a>
  </div>